.container_main{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: max-content;
    max-height: max-content;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify; 
}
.container-botones{
    display: flex;
    flex-direction: row;
}
.button{
    border: 5px solid wheat;
    margin: 3px;
    cursor: pointer;
}