.calculadora{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #a7a7a7;
    padding: 0.3rem;
    align-items: center;
    border-radius: 10px;
}
.fila{
    display: flex;

}
.boton{
    margin-top: 3px;
    margin-left: 3px;
    width: 2.5rem;
    height: 2rem;
    border-radius: 15px;
    background-color: #d3d3d3;
    
}
.zero{
    width: 7rem;
}
.display{
    border-radius: 15px;
    height: 2rem;
    background-color: #f1facb;
}
.barra{
    display: flex;

}
.red{
    background-color: red;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 15px;
    margin-left: 0.5rem;
}
.green{
    background-color: green;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 15px;
    margin-left: 0.5rem;
}
.yellow{
    background-color: yellow;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 15px;
    margin-left: 0.5rem;
}
.texto{
    font-size: small;
    margin-left: 0.5rem;
}