.back{
    padding-top: 30px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.white{
    align-self: center;
    width: 500px;
    color: white;
}
.back_films{
    padding-top: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}