.meteorito{
    width: 40px;
    height: 36px;
    background-image: url("../meteorito.png");
    position: absolute;
}
body{
    background-image: url("../fondo.jpg");
}

.nave{
    width: 50px;
    height: 54px;
    background-image: url("../nave.png");
    position: absolute;
}