.link{
    border: 1px solid black;
    margin: 3px;
    padding: 6px;
    cursor: pointer;
    max-width: min-content;
}
.father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}