.title{
    font-size: 24px;
    color: yellow;
}
.back{
    background-color: black;
    width: 100%;
    height: 100vh;
    height:max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton{
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
}
.container{
    display: flex;
    flex-direction: row;
}
.text_aux{
    color: white;
    font-size: 28px;
    font-weight: bold;
}