.bottomImage {
    position: absolute;
    width: 1000px;
    height: 400px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color:antiquewhite;
    border-radius: 10px;
}

.slideshow-container {
    width: 100%;
    margin: auto;
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    position: absolute;
    width: 100%;
    bottom: 60px;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
}

.slideImg {
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
}

.numbertext {
    position: absolute;
    top: 0;
    padding: 8px 12px;
    color: #f2f2f2;
    font-size: 20px;
}

.dots {
    text-align: center;
}

.dot {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}