.calculadora{
    background-color: #AAA5A3;
    border: 1px solid black;
    width: 200px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}