.back{
    padding-top: 30px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons{
    margin-bottom: 10px;
    border: 3px solid wheat;
    cursor: pointer;
    font-size: 20px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
}
.title{
    padding: 5px;
    font-size: 40px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
}
.back_films{
    padding-top: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_text{
    width: 400px;
}
.white{
    align-self: center;
    width: 500px;
    color: white;
}